.home-mission {
    background: linear-gradient(178deg, rgb(5, 47, 59) 25%, rgba(86, 53, 97, 1) 78%);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}

.mission-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mission-title img{
    width: 80px;
    height: 50px;
}

.mission-card {
    max-width: 950px;
    text-align: left;
    justify-content: center;
    width: 100%;
    margin: 20px;
    word-wrap: break-word;
    background-color: transparent;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20;
    justify-self: center;
    font-size: 25px;
}

.triangle {
  position: relative;
  background: rgba(86, 53, 97, 1);
  height: 5vh;
}

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100px 0 100px;
  border-color: rgba(86, 53, 97, 1) transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}

@media (max-width: 900px) {
    .home-mission{
        flex-direction: column;
    }
    .mission-card{
        flex-direction: column;
        font-size: small;
        width: 80%;
    }
    .mission-card img{
        display: none;
    }
}