.items-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 5%;
    background: #0d6782;
    background: linear-gradient(178deg, rgb(5, 47, 59) 25%, rgba(86, 53, 97, 1) 78%);
    min-height: 60vh;
}

.item-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    box-shadow: black 10px 10px 10px;
}

.item-view:hover{
    background-color: rgb(255, 255, 255);
    scale: 1.02;
}

.item-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    height: 100vh;
    justify-content: center;
    background: #0d6782;
    background: linear-gradient(178deg, rgb(5, 47, 59) 25%, rgba(86, 53, 97, 1) 78%);
}

.items-search{
    padding-top: 6%;
    margin: 0;
    background-color: rgb(5, 47, 59);
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.item-details{
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 25px;
    box-shadow: black 10px 10px 10px;
}

.item-details button{
    border-radius: 5px;
    margin-bottom: 20px;
    width: 20%;
    align-self: center;
    padding: 10px;
    cursor: pointer;
}

.item-details button:hover{
    background-color: rgb(54, 22, 22);
    scale: 1.02;
}

.item-details img{
    align-self: center;
    border-radius: 5px;
}

.cart-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 20px;
    height: 100vh;
    justify-content: center;
    background: #0d6782;
    background: linear-gradient(178deg, rgb(5, 47, 59) 25%, rgba(86, 53, 97, 1) 78%);
}

.cart-container table{
    width: 50%;
    background-color: white;
    color: black;
    border-radius: 15px;
    box-shadow: black 10px 10px 10px;
}
.cart-container th, .cart-container td{
    padding: 15px;
}
.cart-count{
    position: relative;
    display: inline-block;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    padding: 2px 6px;
}

@media (max-width: 780px) {
    .items-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item-details{
        width: 100%;
    }
}